<!-- TRANS  Log in -->
<!-- TRANS  Log out -->
<!-- TRANS  Sign up -->

<div id="header-wrap">
    <div id="header" class="container_16">
        <h1 id="logo-text"><a href="http://all-free-download.com/free-website-templates/">Keep It Simple</a></h1>
        <p id="intro">Put your favorite slogan here...</p>
        <div  id="nav">
            <ul>
                <li><a href="http://all-free-download.com/free-website-templates/">Home</a></li>
                <li><a href="style.html">Style Demo</a></li>
                <li id="current"><a href="blog.html">Blog</a></li>
                <li><a href="http://all-free-download.com/free-website-templates/">Services</a></li>
                <li><a href="http://all-free-download.com/free-website-templates/">Support</a></li>
                <li><a href="http://all-free-download.com/free-website-templates/">About</a></li>
            </ul>
        </div>
        <div id="header-image"></div>
        <form id="quick-search" action="#" method="get" >
            <p>
                <label for="qsearch">Search:</label>
                <input class="tbox" id="qsearch" type="text" name="qsearch" value="Search..." title="Start typing and hit ENTER" />
                <input class="btn" alt="Search" type="image" name="searchsubmit" title="Search" src="{{=URL('static', 'images/search.gif')}}" />
            </p>
        </form>
        {{if auth.user:}}
                <p id="corner1"><a href="{{=URL('default', 'login')}}">{{=auth.user.username}}</a></p>
                <p id="corner2"><a href="{{=URL('default', 'logout')}}">Log out</a></p>

        {{else:}}
                <p id="corner1"><a href="{{=URL('default', 'login')}}">Sign up</a></p>
                <p id="corner2"><a href="{{=URL('default', 'login')}}">Log in</a></p>
        {{pass}}
        

    </div>
</div>
